<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <style>
        img{
            height: 300px;
        }
    </style>
</head>
<body>



  <div class="main">
    <h1>Write your story with the ultimate resume builder</h1>
    <p>Only 2% of resumes win. Yours will be one of them. Let’s build you a resume that works.</p>
    <div class="buttons">

        <form action="/CV1/new">
            <img src="../Cv1.png" alt="">
            <button class="btn-blue">
                CV1
                </button>
        </form>    
        <form action="/CV2/new">
            <img src="../Cv2.png" alt="">
            <button class="btn-white">
                CV2
            </button>
        </form>    
        
            

    </div>
    

</body>
</html>
