<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>



  <div class="main">
    <h1>Write your story with the ultimate resume builder</h1>
    <p>Only 2% of resumes win. Yours will be one of them. Let’s build you a resume that works.</p>
    <div class="buttons">
        <form action="/get_score" method="get">
            <button class="btn-white">Get score for your resume</button>
        </form>
        <button class="btn-blue"><a href="/choose" style="text-decoration: none; color: white;">Choose your CV style</a></button>
    </div>
    

</body>
</html>
